body{
    background-color: crimson;
    font-family: Snell Roundhand, cursive;;
}

.logo{
    font-family: Snell Roundhand, cursive;
    font-weight: bold;
}



.heading{
    font-size: 45px;
    color: black;
    font-family: 'Comforter Brush', cursive;
    font-weight: bolder;


}

.content{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: gray;
    color: white;
    margin: 20px;
    padding: 10px;
}